<%- include('global/microheader.ejs'); %>
<body>
  <%- include('global/micronavbar.ejs'); %>
<title>Micropage</title>
<h1> <%- blogTitle-%> Employment Data </h1>
<br>
  <h2> Employment Data Since 1998 </h2>
  <div id="graphannual"></div>
  <h2> Data for 1998 </h2>
  <div id="graph1998"></div>
  <h2> Data for 1999 </h2>
  <div id="graph1999"></div>
  <h2> Data for 2000 </h2>
  <div id="graph2000"></div>
  <h2> Data for 2001 </h2>
  <div id="graph2001"></div>
  <h2> Data for 2002 </h2>
  <div id="graph2002"></div>
  <h2> Data for 2003 </h2>
  <div id="graph2003"></div>
  <h2> Data for 2004 </h2>
  <div id="graph2004"></div>
  <h2> Data for 2005 </h2>
  <div id="graph2005"></div>
  <h2> Data for 2006 </h2>
  <div id="graph2006"></div>
  <h2> Data for 2006 </h2>
  <div id="graph2007"></div>
  <h2> Data for 2008 </h2>
  <div id="graph2008"></div>
  <h2> Data for 2009 </h2>
  <div id="graph2009"></div>
  <h2> Data for 2010 </h2>
  <div id="graph2010"></div>
  <h2> Data for 2011 </h2>
  <div id="graph2011"></div>
  <h2> Data for 2012 </h2>
  <div id="graph2012"></div>
  <h2> Data for 2013 </h2>
  <div id="graph2013"></div>
  <h2> Data for 2014 </h2>
  <div id="graph2014"></div>
  <h2> Data for 2015 </h2>
  <div id="graph2015"></div>
  <h2> Data for 2016 </h2>
  <div id="graph2016"></div>
  <h2> Data for 2017 </h2>
  <div id="graph2017"></div>
  <h2> Data for 2018 </h2>
  <div id="graph2018"></div>
  <h2> Data for 2019 </h2>
  <div id="graph2019"></div>
  <h2> Data for 2020 </h2>
  <div id="graph2020"></div>
  <br>
  <h2> Analysis </h2>
  <h5> <%- analysis%></h5>
  <br>
  <script type="text/javascript">
  var values=(<%- data-%>);
  console.log(values[0].analysis);
  //console.log(values);
    var annualgraph = [
      ['x', '1998-1-1', '1999-1-1', '2000-1-1', '2001-1-1', '2002-1-1', '2003-1-1', '2004-1-1', '2005-1-1', '2006-1-1', '2007-1-1', '2008-1-1', '2009-1-1', '2010-1-1', '2011-1-1', '2012-1-1', '2013-1-1', '2014-1-1', '2015-1-1', '2016-1-1',
        '2017-1-1', '2018-1-1', '2019-1-1']
    ]
     var annualdata = ['<%- blogTitle-%>'];
    for (var i=0; i<values.length-1; i++) {
        annualdata.push(values[i].annual);
    }
    // console.log(annualdata);
    annualgraph.push(annualdata);
    // console.log(annualgraph);
    var annualchart = c3.generate({
      size: {
    height: 350,
    width: 750
      },
      bindto: '#graphannual',
      data: {
        x: 'x',
        //        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: annualgraph
      },
      axis: {
        x: {
          type: 'timeseries',
          tick: {
            format: '%Y-%m-%d'
          }
        },
        y: {
          label: '# Employed (in thousands)'
        }

      }
    });

    setTimeout(function () {
    annualchart.load({
        columns: []
    });
  }, 1000);
for (var i=0; i<values.length; i++) {
  console.log("oh we running");
      var yeargraph = [
        ['x', values[i].title + '-1-1', values[i].title + '-2-1', values[i].title + '-3-1', values[i].title + '-4-1', values[i].title + '-5-1', values[i].title + '-6-1', values[i].title + '-7-1', values[i].title + '-8-1', values[i].title + '-9-1', values[i].title + '-10-1', values[i].title + '-11-1', values[i].title + '-12-1']
      ]
      var yeardata = ['<%- blogTitle-%>'];
      if (values[i].title!='2020') {
        yeardata.push(values[i].jan);
        yeardata.push(values[i].feb);
        yeardata.push(values[i].mar);
        yeardata.push(values[i].apr);
        yeardata.push(values[i].may);
        yeardata.push(values[i].jul);
        yeardata.push(values[i].aug);
        yeardata.push(values[i].sep);
        yeardata.push(values[i].oct);
        yeardata.push(values[i].nov);
        yeardata.push(values[i].dec);

      }
      else {
        yeardata.push(values[i].jan);
        yeardata.push(values[i].feb);
        yeardata.push(values[i].mar);
        yeardata.push(values[i].apr);
        yeardata.push(values[i].may);
        yeardata.push(values[i].jul);
        yeardata.push(values[i].aug);
        yeardata.push(values[i].sep);
        yeardata.push(values[i].oct);
      }
      yeargraph.push(yeardata);

        console.log(yeargraph);
        var annualchart = c3.generate({
          size: {
        height: 250,
        width: 750
          },
          bindto: '#graph' + values[i].title,
          data: {
            x: 'x',
            //        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
            columns: yeargraph
          },
          axis: {
            x: {
              type: 'timeseries',
              tick: {
                format: '%Y-%m-%d'
              }
            },
            y: {
              label: '# Employed (in thousands)'
            }
          }
        });
        setTimeout(function () {
        annualchart.load({
            columns: []
        });
      }, 1000);
}
</script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<footer>
  <%- include('global/footer'); %>
</footer>
</html>
